.column{
flex-direction: column;
}
.center{
    justify-content: center;
}
.flex{
 display: flex;
}
.control-buttons{
border-radius: 0;
padding: 12px;
border-bottom: none;
border-top: none;
align-items: center;
}